$custom-red: hsl(0, 78%, 62%);
$custom-cyan: hsl(180, 62%, 55%);
$custom-orange: hsl(34, 97%, 64%);
$custom-blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

$base-font-weights: (
  "light": 200,
  "semi-bold": 400,
  "bold": 600,
);

$base-font-families: "Poppins", system-ui;
$base-font-size: 15px;
$tablet: 520px;
$desktop: 720px;
